<% provide(:title," | Bienvenido")%>
<h1>Iniciar sesión</h1>
<div class="row">
    <div class="front large-12 columns">
      <div class="small-8 columns">
      	
      </div>
      <div class="small-4 columns">
      	<form>
      		<label>Usuario</label>
      		<input type="text">
      		<label>Contraseña</label>
      		<input type="password">
      		<a class="small button" href="#">Entrar</a>
      	</form>
      </div>
    </div>
 </div>
 <div class="row">
 	<div class="small-4 columns">
 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, animi, sed, inventore sequi illo facilis magnam deleniti commodi voluptatibus obcaecati dignissimos vel laboriosam autem tenetur possimus. Eum esse est iste!</p>
 	</div>
 	<div class="small-4 columns">
 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, neque tempore distinctio dolorum deleniti dolorem est alias et necessitatibus mollitia! Sit voluptatem neque suscipit a vitae placeat exercitationem perferendis saepe.</p>
 	</div>
 	<div class="small-4 columns">
 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ullam, sint, dolor nihil quas dolore impedit perspiciatis dolorum odio velit a eius ipsum pariatur id aut laborum accusamus eos adipisci?</p>
 	</div>
 </div>

 <footer>
 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, veritatis, iusto, ipsa odit officia ut earum quisquam nostrum incidunt porro ullam nesciunt mollitia obcaecati numquam eligendi error illo saepe enim!</p>
 </footer>

