  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Content -->
    <div id="timeline" class="large-8 columns" role="content">
      <% @microposts.each do |micropost| %>
        <!-- Feed Entry -->
        <div class="row">
          <div id="avatar-timeline" class="small-3 large-2 columns "><img src="/assets/80x80.gif" /></div>
          <div class="small-9 large-10 columns">
            <p><strong><a href="/users/<%= micropost.user_id %>"><%= micropost.user.name %></a></strong><br> <%= micropost.content %></p>
            <ul class="inline-list">
              <!-- <li><a href="">Responder</a></li> -->
              <li><p class="timestamp">Creado hace <%= time_ago_in_words(micropost.created_at)%></p></li>
            </ul>
          </div>
        </div>
        <!-- End Feed Entry -->
      <% end %>
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside id="sidebar" class="large-3 columns small-offset-1">

      <h5>@Usuario</h5>
      <ul class="side-nav">
        <li><a href="#">Siguiendo</a></li>
        <li><a href="#">Menciones</a></li>
        <li><a href="#">Mensajes</a></li>
      </ul>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12">
        <p><br></p>
    </div>
  </footer>