// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blanco: #FFFFFF;

#timeline{
	padding-top: 10px;
	background-color: $blanco;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

#sidebar{
	background-color: $blanco;
}


