// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blanco: #FFFFFF;


#timeline{
	padding-top: 30px;
	background-color: $blanco;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
} 

#sidebar{
	background-color: $blanco;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#avatar-timeline{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}


