// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timestamp{
	color: #BCBCBC;
	font-size: 12px;
}

#profile{
	background-color: #FFF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#header-profile{
	padding: 30px 0px 30px 10px;
	background-color: #85BE8D;
	border: 30px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
#avatar{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}